

<section class="resume-area page-section scroll-to-page" id="Education">
    <div class="custom-container">
        <div class="resume-content content-width">
            <div class="section-header">
                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                    <i class="las la-briefcase"></i> Education
                </h4>
                <h1 class="scroll-animation" data-animation="fade_from_bottom"><span>Education</span></h1>
            </div>

            <div class="resume-timeline">
                <div class="item scroll-animation" data-animation="fade_from_right">
                    <span class="date">2020 - Present</span>
                    <h2>Framer Desinger & Developer</h2>
                    <p>Brunodee Agency</p>
                    <h2>Front-End WordPress Developer</h2>
                    <p>Envato Market</p>
                </div>
                <div class="item scroll-animation" data-animation="fade_from_right">
                    <span class="date">2013 - 2019</span>
                    <h2>Webflow Developer & Co-Founder</h2>
                    <p>Designflow Studio</p>
                    <h2>Web Designer</h2>
                    <p>Freelance</p>
                    <h2>Leader Team of Marketing</h2>
                    <p>AHA Marketing Agency</p>
                </div>
                <div class="item scroll-animation" data-animation="fade_from_right">
                    <span class="date">2010 - 2013</span>
                    <h2>Bachelor Degree of Information Technology</h2>
                    <p>US RMIT University</p>
                </div>
            </div>

        </div>
    </div>
</section>