<div class="pb-3">
	<h1 class="title title--h1 first-title title__separate">Özgeçmiş</h1>
</div>


@await Component.InvokeAsync("Experiance")

@await Component.InvokeAsync("Education")

@await Component.InvokeAsync("ProgressBarSkills")

@await Component.InvokeAsync("Badges")






