

<div class="responsive-sidebar-menu">
    <div class="overlay"></div>
    <div class="sidebar-menu-inner">
        <div class="menu-wrap">
            <p>Menu</p>
            <ul class="menu scroll-nav-responsive d-flex">
                <li>
                    <a class="scroll-to" href="#home">
                        <i class="las la-home"></i> <span>Home</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#about">
                        <i class="lar la-user"></i> <span>About</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#resume">
                        <i class="las la-briefcase"></i> <span>Resume</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#Education">
                        <i class="las la-university"></i> <span>Education</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#services">
                        <i class="las la-stream"></i> <span>Services</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#skills">
                        <i class="las la-shapes"></i> <span>Skills</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#portfolio">
                        <i class="las la-grip-vertical"></i> <span>Portfolios</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#testimonial">
                        <i class="lar la-comment"></i> <span>Testimonial</span>
                    </a>
                </li>
                <li>
                    <a class="scroll-to" href="#contact">
                        <i class="las la-envelope"></i> <span>Contact</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>