@model BadgetCreateDto


<div class="col-12">

    <h2 class="text-center"> Rozet Oluşturma Sayfası</h2>
    <hr />
    <br />

    <form asp-action="Create" asp-controller="Badged" asp-area="Admin" method="post">

        <div class="form-group">
            <label for="inputAddress">Rozet Açıklaması  <span class="text-danger" asp-validation-for="@Model.Name">*</span> </label>
            <textarea rows="2" asp-for="@Model.Name" class="form-control" id="mytextarea" placeholder="Rozet Adı giriniz. "></textarea>
        </div>


        <div class="col-2">
            <div class="custom-control custom-switch">
                <input asp-for="@Model.IsActive" type="checkbox" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2"> Aktif / Pasif </label>
            </div>
        </div>

        <div asp-validation-summary="All">
        </div>
        <button type="submit" class="btn btn-primary">Rozet Kaydet</button>
    </form>
</div>





