@model List<TechnologiesListDto>

@if(Model.Count != 0 )
{
    <div class="box-inner box-inner--rounded">
        <h2 class="title title--h3">Teknolojiler</h2>

        <div class="swiper-container js-carousel-clients">
            <div class="swiper-wrapper">
                <!-- Item client -->
                @foreach (var item in Model)
                {
                    <div class="swiper-slide text-center" style="width : 100px">
                        <a><img src="@item.UrlPath" width="60px" height="60px" alt="Logo" /></a>
                    </div>
                }

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
}
else
{
    <div class="box-inner box-inner--rounded">
        <h2 class="title title--h3">Herhangi bir teknoloji verisi bulunamadı </h2>

    </div>
}
<!-- Clients -->
