@model List<AbilityListDto>

@if (Model.Count != 0)
{

    <div class="box-inner pb-0">
        <h2 class="title title--h3">Platformlar</h2>
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-12 col-lg-6">
                    <div class="case-item box box__second">
                        <img class="case-item__icon" src="@item.UrlPath" />
                        <div>
                            <h3 class="title title--h5">@item.Name</h3>
                            <p class="case-item__caption">@item.Description</p>
                        </div>
                    </div>
                </div>

            }


        </div>
    </div>
}
else
{
    <p> Kayıtlı veri bulunamadı </p>
}