<section class="skills-area page-section scroll-to-page" id="skills">
    <div class="custom-container">
        <div class="skills-content content-width">
            <div class="section-header">
                <h4 class="subtitle scroll-animation" data-animation="fade_from_bottom">
                    <i class="las la-shapes"></i> my skills
                </h4>
                <h1 class="scroll-animation" data-animation="fade_from_bottom">My <span>Advantages</span></h1>
            </div>

            <div class="row skills text-center">
                <div class="col-md-3 scroll-animation" data-animation="fade_from_left">
                    <div class="skill">
                        <div class="skill-inner">
                            <img src="assets/images/figma.png" alt="Figma">
                            <h1 class="percent">92%</h1>
                        </div>
                        <p class="name">Figma</p>
                    </div>
                </div>
                <div class="col-md-3 scroll-animation" data-animation="fade_from_bottom">
                    <div class="skill">
                        <div class="skill-inner">
                            <img src="assets/images/framer.png" alt="Framer">
                            <h1 class="percent">85%</h1>
                        </div>
                        <p class="name">Framer</p>
                    </div>
                </div>
                <div class="col-md-3 scroll-animation" data-animation="fade_from_top">
                    <div class="skill">
                        <div class="skill-inner">
                            <img src="assets/images/webflow.png" alt="Webflow">
                            <h1 class="percent">80%</h1>
                        </div>
                        <p class="name">Webflow</p>
                    </div>
                </div>
                <div class="col-md-3 scroll-animation" data-animation="fade_from_right">
                    <div class="skill">
                        <div class="skill-inner">
                            <img src="assets/images/react.png" alt="React">
                            <h1 class="percent">90%</h1>
                        </div>
                        <p class="name">React</p>
                    </div>
                </div>
                <div class="col-md-3 scroll-animation" data-animation="fade_from_left">
                    <div class="skill">
                        <div class="skill-inner">
                            <img src="assets/images/wordpress.png" alt="WordPress">
                            <h1 class="percent">86%</h1>
                        </div>
                        <p class="name">WordPress</p>
                    </div>
                </div>
                <div class="col-md-3 scroll-animation" data-animation="fade_from_bottom">
                    <div class="skill">
                        <div class="skill-inner">
                            <img src="assets/images/laravel.png" alt="Laravel/PHP">
                            <h1 class="percent">70%</h1>
                        </div>
                        <p class="name">Laravel/PHP</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
