<!--sidebar-wrapper-->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">

        <div>
            <h4 class="logo-text">Berkay Akar</h4>
        </div>
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="toggle-btn ml-auto">
            <i class="bx bx-menu"></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                <div class="parent-icon">
                    <i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Ana Sayfa</div>
            </a>

        </li>
        <li class="menu-label">Hakkımda </li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <i class="fadeIn animated bx bx-user"></i>
                </div>
                <div class="menu-title">Hakkımda</div>
            </a>
            <ul>
                <li>
                    <a  asp-area="Admin" asp-controller="AboutMe" asp-action="Index"><i class="bx bx-right-arrow-alt"></i>Listeyi Görüntüle</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Project" asp-action="CreateProject"><i class="bx bx-right-arrow-alt"></i>Yeni Proje Oluştur</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <i class="fadeIn animated bx  bx-globe-alt"></i>
                </div>
                <div class="menu-title">Platformlar</div>
            </a>
            <ul>
                <li>
                    <a asp-area="Admin" asp-action="Index" asp-controller="Platform" ><i class="bx bx-right-arrow-alt"></i>Platformları Görüntüle</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Project" asp-action="CreateProject"><i class="bx bx-right-arrow-alt"></i>Yeni Proje Oluştur</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <i class="fadeIn animated bx  bx-rocket"></i>
                </div>
                <div class="menu-title">Teknolojiler</div>
            </a>
            <ul>
                <li>
                    <a href="table-basic-table.html"><i class="bx bx-right-arrow-alt"></i>Teknolojiler Listesi</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Project" asp-action="CreateProject"><i class="bx bx-right-arrow-alt"></i>Yeni Teknoloji Ekle</a>
                </li>
            </ul>
        </li>



        <li class="menu-label">Öz Geçmiş</li>


        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <i class="fadeIn animated bx bx-bot"></i>
                </div>
                <div class="menu-title">İş Deneyimleri</div>
            </a>
            <ul>
                <li>
                    <a href="table-basic-table.html"><i class="bx bx-right-arrow-alt"></i>İş Deneyim Listesi</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Project" asp-action="CreateProject"><i class="bx bx-right-arrow-alt"></i>Yeni İş Deneyimleri Ekle</a>
                </li>
            </ul>
        </li>

        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <i class="fadeIn animated lni lni-school-bench-alt"></i>
                </div>
                <div class="menu-title">Eğitimler </div>
            </a>
            <ul>
                <li>
                    <a href="table-basic-table.html"><i class="bx bx-right-arrow-alt"></i>Eğitim Listesi</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Project" asp-action="CreateProject"><i class="bx bx-right-arrow-alt"></i>Yeni Eğitim Ekle</a>
                </li>
            </ul>
        </li>


        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <i class="bx bx-spa"></i>
                </div>
                <div class="menu-title">Yetenekler ( Yüzdelik )</div>
            </a>
            <ul>
                <li>
                    <a href="component-alerts.html"><i class="bx bx-right-arrow-alt"></i>Alerts</a>
                </li>
                <li>
                    <a href="component-bedges.html"><i class="bx bx-right-arrow-alt"></i>Badge</a>
                </li>

            </ul>
        </li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <i class="lni lni-star-half"></i>
                </div>
                <div class="menu-title">Rozetler</div>
            </a>
            <ul>
                <li>
                    <a href="content-grid-system.html"><i class="bx bx-right-arrow-alt"></i>Grid System</a>
                </li>
                <li>
                    <a href="content-typography.html"><i class="bx bx-right-arrow-alt"></i>Typography</a>
                </li>
            </ul>
        </li>


        <li class="menu-label">Projeler</li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon">
                    <i class="bx bx-code-block"></i>
                </div>
                <div class="menu-title">Proje Menüsü</div>
            </a>
            <ul>
                <li>
                    <a href="form-elements.html"><i class="bx bx-right-arrow-alt"></i>Projeleri Görüntüle</a>
                </li>
                <li>
                    <a href="form-input-group.html"><i class="bx bx-right-arrow-alt"></i>Yeni Proje Ekle</a>
                </li>

            </ul>
        </li>
        <button class="btn bg-red btn-white btn-block fixed mt-5"> Bakıma Al </button>


    </ul>
    <!--end navigation-->
</div>
<!--end sidebar-wrapper-->
