@model AppUserAndSocailMediaViewModel


<div class="left-sidebar">
    <div class="sidebar-header d-flex align-items-center justify-content-between">
        <img src="~/CvTema/wpriverthemes.com/HTML/drake/assets/images/logo.png" alt="Logo">
        <span> @Model.AppuserDto.PositionTitle </span>
    </div>
    <img class="me" src="~/CvTema/wpriverthemes.com/HTML/drake/assets/images/me.jpg" alt="Me">
    <h2 class="email">mberkayakar@gmail.com</h2>
    <h2 class="address">Bayrampaşa / İstanbul</h2>
    <p class="copyright">&copy; 2022</p>
    <ul class="social-profile d-flex align-items-center flex-wrap justify-content-center">
        <li>
            <a href=""><i class="lab la-twitter"></i></a>
        </li>
        <li>
            <a href=""><i class="lab la-dribbble"></i></a>
        </li>
        <li>
            <a href=""><i class="lab la-instagram"></i></a>
        </li>
        <li>
            <a href=""><i class="lab la-github"></i></a>
        </li>
    </ul>
    <a href="#" class="theme-btn">
        <i class="las la-envelope"></i> Cv İndir
    </a>
</div>

