<div class="circle-menu">
	<div class="hamburger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
</div>
<div class="inner-menu js-menu">
	<ul class="nav">
		<li class="nav__item"><a asp-action="Index" asp-controller="Home">Hakkımda</a></li>
		<li class="nav__item"><a asp-action="Index" asp-controller="Resume">Özgeçmiş</a></li>
		<!-- <li class="nav__item"><a asp-action="Index" asp-controller="Project">Projeler</a></li> -->
	</ul>
</div>