<div class="circle-menu">
	<div class="hamburger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
</div>
<div class="inner-menu js-menu">
	<ul class="nav">
		<li class="nav__item"><a href="about.html">Hakkımda</a></li>
		<li class="nav__item"><a class="active" href="resume.html">Özgeçmiş</a></li>
		<li class="nav__item"><a href="portfolio.html">Projeler</a></li>
	</ul>
</div>