<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Berkay AKAR </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <link rel="stylesheet" type="text/css" href="~/404/style.css" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="span12">

                <div id="whoops">
                    <img src="~/404/images/404_dark.png" alt="" class="animated swing">
                </div>
            </div>
            <div class="span2"></div>
            <div class="span8">
                <h1>Aranan sayfaya ulaşılamadı</h1>
                <p>
                    <br />
                    <br />
                    <a asp-action="Index" asp-controller="Home">Ana Sayfa</a>
                    <br />
                </p>

                <hr>

            </div>

            <div class="span2"></div>
        </div>
    </div>
</body>

<!-- Mirrored from designbyjo.co.uk/templates/404-jigsaw-demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Jan 2024 20:11:39 GMT -->
</html>
