@model IEnumerable<ListComponentDto>

@if(Model.Count() == 0)
{
    <div class="alert-danger"> Sistemde tanımlı herhangi bir component bulunamadı. Lütfen ilgili componentlerinizin kaydını gerçekleştiriniz ... </div>
}
else
{
    @foreach (var item in Model.OrderBy(x=>x.OrderNumber))
    {
        @await Component.InvokeAsync(item.ComponentProjectName);
    }
}