@model ProjectListDto

@if (true)
{
	
}

<div class="pb-3">
	<header class="header-post">
		<div class="header-post__date">@Model.ProjectCreateDate.ToString("MM/yyyy")</div>
		<h1 class="title title--h1">@Model.Name</h1>
		<br />
	</header>
	<div class="gallery-post">
		<img class="gallery-post__item cover lazyload" src="@Model.ProjectImageURL" data-zoom alt="" />
	</div> 
</div>

@Html.Raw(Model.Description)